<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de' : 'Novo' }} Predio</h1>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12" style="margin-top: 10px;">

        <p-toolbar>
          <div class="ui-toolbar-group-left">
            <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
            <button pButton type="button" label="Novo" class="ui-button-info" (click)="novo(f)"></button>
          </div>

          <div class="ui-toolbar-group-right">
            <a pButton label="Pesquisar" routerLink="/predios"></a>
          </div>
        </p-toolbar>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12 ui-fluid">
        <label>Descricao</label>
        <input pInputText type="text" name="descricao"
               [(ngModel)]="predio.descricao"
               #descricao="ngModel" required minlength="10">

        <app-message [control]="descricao" error="required"
                     text="Informe a descrição"></app-message>
        <app-message [control]="descricao" error="minlength"
                     text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>CEP</label>
        <p-inputMask [(ngModel)]="predio.cep" type="text" name="cep" #cep="ngModel" mask="99999-999"></p-inputMask>
      </div>


      <div class="ui-g-12 ui-md-8 ui-fluid">
        <label>Busca por cep:</label>
        <button pButton type="button" label="Buscar" class="ui-button-info"
                (click)="carregarPorCep(predio.cep)"></button>
      </div>

      <div class="ui-g-4 ui-md-4 ui-fluid">
        <label>Logradouro</label>
        <input pInputText type="text" name="logradouro"
               [(ngModel)]="predio.logradouro"
               #logradouro="ngModel">
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Complemento</label>
        <input pInputText type="text" name="complemento"
               name="complemento"
               [(ngModel)]="predio.complemento"
               #complemento="ngModel">
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Bairro</label>
        <input pInputText type="text" name="bairro"
               name="bairro"
               [(ngModel)]="predio.bairro"
               #bairro="ngModel">
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Localidade</label>
        <input pInputText type="text" name="localidade"
               name="localidade"
               [(ngModel)]="predio.localidade"
               #localidade="ngModel">
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Uf</label>
        <input pInputText type="text" name="uf"
               name="uf"
               [(ngModel)]="predio.uf"
               #uf="ngModel">
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Número</label>
        <input pInputText type="text" name="numero"
               name="numero"
               [(ngModel)]="predio.numero"
               #numero="ngModel">
      </div>


    </div>

  </form>
</div>
